<h1 align='center'>Listings</h1>
<br>

<div class="row center">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag listing.image.url %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p>
            <%= "$#{listing.price}" %><br>
          </p>
          <p>
            <%= listing.user.first_name %>
          </p>
            <%= link_to 'Show', listing, class: 'btn btn-link' %>
            <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>

        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
