<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-6'>
    <div class='thumbnail'>
    <%= image_tag @listing.image.url, listing %>
    </div>
  </div>
  <div class='col-md-6 cust-list'>
    <h3><%= @listing.name %></h3>
    <p><%= "$#{@listing.price}" %></p>
    <p><%= @listing.description %></p>
    <p><%= "Listed by: #{@listing.user.username}" %></p>
    <%= link_to 'Buy Now', new_listing_order_path(@listing), class: 'btn btn-primary ' %>

  </div>
</div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-link' %> |
<% end %>
<%= link_to 'Back to listings', listings_path, class: 'btn btn-link' %>
