<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  </head>

  <body>
    <%= render 'common/nav' %>
    <div class='container'>

      <%= yield %>
      <%= render 'common/footer' %>
    </div>


  </body>
</html>
